language: php
php:
  - 7.3

matrix:
  include:
    - dist: xenial

branches:
  only:
  - master

notifications:
  email:
    on_success: never

script: 
  - cd ${TRAVIS_BUILD_DIR}
  - bash setup.sh
  - bash load_data.sh
  - php parse.php
